/* Cart Section */
#cart-section {
    width: 100vw;
    height: auto;
    margin: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title {
    width: 90%;
    font-family: 'Montserrat';
    margin: 15px auto;
    text-align: center;
}
/* Cart Product Card */
.cart-product {
    width: 50vw;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    padding: 10px 0;
}
/* Cart Product Data: Icon, Title, Location */
.cart-product-figure {
    margin: auto 0;
}
.cart-product-info {
    width: 55%;
}
.cart-product-img {
    width: 200px;
    margin: 0;
}
.cart-product-title {
    margin: 16px 0 0 0;
}
.cart-product-location {
    margin: 0;
}
/* Subsection */
.cart-product-subsection {
    width: 175px;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Quantity Section */
.cart-product-quantity {
    max-width: 75px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
/* Cart Product Count */
.cart-product-count {
    width: 25px;
    height: 25px;
    margin: 0;
    text-align: center;
}
/* Cart Product Rate */
.cart-product-rate {
    margin: 0;
    color: var(--accent-color);
}
.cart-product-price {
    text-align: end;
}
.qty {
    margin: 0;
}
/* Remove Cart Product */
.remove {
    color: var(--highlight-color);
    font-size: 8pt;
    margin: 10px 0 0 0;
    cursor: pointer;
}
/* Quantity Button: + - */
.quantity-button {
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 100%;
    color: var(--text-color);
}
.quantity-button:hover {background-color: var(--accent-color);}
.quantity-button::after {background-color: var(--shadow-color);}

/* Price Overview Container */
#price-overview {
    width: 300px;
    height: 275px;
    margin: 0 0 0 30px;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    padding: auto;
}
.po-line {
    width: 90%;
    background-color: var(--accent-color);
}
/* Span Elements */
.po-span, .po-span-2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10pt;
}
.po-span-2 {
    font-weight: 700;
    font-size: 12pt;
}
/* Text Elements */
.po-text {
    color: var(--secondary-color);
}
.price-text {
    color: var(--accent-color);
}
/* Proceed to Checkout Form Button */
#ptcButton {
    width: 90%;
    height: 50px;
    margin: auto;
    display: block;
    border: none;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    font-family: 'Montserrat';
    cursor: pointer;
}
#ptcButton:hover {
    background-color: var(--soft-highlight-color);
}

/* Checkout Section */
#checkout-section {
    width: 90vw;
    height: auto;
    margin: auto;
    border: 1px solid var(--accent-color);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
}
/* Checkout Form Container */
#checkout-form {
    width: 75%;
    height: auto;
    background-color: var(--secondary-color);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#checkout-form > .title {
    width: 80%;
    color: var(--primary-color);
}
.form-span {
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-line {
    width: 100%;
    border: 1px solid var(--accent-color);
}
.form-section-title {
    min-width: 15%;
    color: var(--accent-color);
    font-family: 'Montserrat';
    font-size: 8pt;
    text-align: center;
}
/* Input fields */
.form-input {
    width: 33%;
    height: 40px;
    margin: 10px 10px;
    padding-left: 10px;
    background-color: var(--soft-highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 15px;
    color: var(--primary-color);
}
/* Input fields placeholders */
.form-input::placeholder {
    font-family: 'Montserrat';
    color: var(--primary-color);
}
/* Input fields if invalid */
.form-input:invalid {
    background-color: var(--soft-second-highlight-color);
    border: 1px solid var(--second-highlight-color);
}
#checkout-form > select {
    width: 34%;
    height: 45px;
    padding-left: 5px;
    font-family: 'Montserrat';
    cursor: pointer;
}
.input-span {
    width: 33%;
    height: 40px;
    color: var(--primary-color);
    font-family: 'Montserrat';
}
/* Place Order Button */
#submitButton {
    width: 33%;
    height: 40px;
    margin: 20px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--highlight-color);
    font-family: 'Montserrat';
    color: var(--primary-color);
    cursor: pointer;
}
#submitButton:hover {
    background-color: var(--soft-highlight-color);
}
#submitButton:disabled {
    cursor: not-allowed;
}

/* Billing Information/Overview Container */
#billing-information {
    width: 25%;
    height: auto;
    font-family: monospace;
}
#billing-information > h4 {
    width: 90%;
    margin: auto;
    text-align: center;
}
.receipt-figure {
    width: 50%;
    margin: 5px auto;
}
.receipt-img {
    width: 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
hr.receipt-line {
    width: 90%;
    border-top: 1px dashed black;
}
.receipt-span {
    width: 90%;
    height: auto;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}
.bill-label .bill-label-item {
    max-width: 25%;
    margin: 0;
    font-weight: 600;
}
.bill-label-item {
    max-width: 75%;
}
.bill-answer .bill-answer-price {
    margin: 0;
    max-width: 75%;
    text-align: right;
}
.bill-answer-price {
    max-height: 25%;
}