/* Navigation Bar section */
#navigation-bar {
    width: 100vw;
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.nav-item {
    height: 45px;
    border: solid 1px transparent;
    min-width: 50px;
    margin: 0 20px 0 0;
    color: var(--text-color);
    font-family: "Montserrat";
    font-size: 10pt;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav-logo {
    width: 30px;
}
.nav-button {
    background-color: transparent;
    border: none;
}

/* Search box */
#search-box {
    width: 35vw;
    height: 30px;
    border-radius: 5px;
    background-color: var(--accent-color);
    position: relative;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: start; /* Align icon and input to the left */
}
.search-icon {
    position: absolute;
    left: 10px;
    color: var(--secondary-color);
}
#search-area {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding-left: 30px;
    color: var(--primary-color);
    font-size: 12pt;
}
#search-area:focus {
    /* Removing default blue line when focused */
    outline-width: 0;
}

/* Checkout button counter */
#cart-counter {
    background-color: var(--text-color);
    width: auto;
    min-width: 10px;
    color: var(--secondary-color);
}

/* Drop down pop ups */
.info-box {
    width: 270px;
    height: auto;
    min-height: 130px;
    border: 1px solid var(--accent-color);
    border-radius: 15px;
    background-color: rgba(45, 45, 45, 0.85); /* A dark gray with some transparency */
    backdrop-filter: blur(10px); /* Adds the blur effect */
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 30px;
    color: var(--primary-color);
    font-family: 'Montserrat';
    font-size: 10pt;
}
.info-box > * {
    display: inline-block;
}
#school-info {
    margin-left: 15vw;
}
#information {
    margin-left: 20vw;
}
#contact-info {
    margin-left: 26vw;
}